<h1>Listing students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>FavoriteMovie</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.movie %></td>
    </tr>
  <% end %>
</table>

<h3>If you would like the full experience, try <%= link_to "here", js_students_url %>.</h3>