<h1>Listing students</h1>
<app-root></app-root>

<script type="text/javascript" src="/scripts/runtime.a66f828dca56eeb90e02.js"></script>
<script type="text/javascript" src="/scripts/polyfills.7a0e6866a34e280f48e7.js"></script>
<script type="text/javascript" src="/scripts/main.e2124ec751fd50d4eca5.js"></script>
